* {
    padding: 0;
    margin: 0;
}

.master-div {
    display: flex;
    width: 100vw;
    height: 100vh;
    background-color: black;
    background-size: 50%;
    background-position: bottom right;
    background-repeat: no-repeat;
    background-image: linear-gradient(
        to left, 
        transparent,
        rgba(0, 0, 0, 0.5) 10%,
        #000 100%
    ), 
    url(Jarvis.png);
}

.college-logo {
    width: 150px;
    height: 100px;
    padding-top: 10px;
    padding-left: 10px;
}







@media only screen and (max-width: 600px) {
    .master-div {
        background-size: 80%;
    }
    .college-logo {
        width: 100px;
        height: 75px;
    }
}

@media only screen and (min-width: 1200px) {
    .master-div {
        background-size: 50%;
    }
}